<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">learn express</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHome}}
          <li class="active"><a href="/">Главная страница</a></li>
        {{else}}
          <li><a href="/">Главная страница</a></li>
        {{/if}}


        {{#if isInfo}}
          <li class="active"><a href="info">Инфо</a></li>
        {{else}}
          <li><a href="info">Инфо</a></li>
        {{/if}}


        {{#if isTest}}
          <li class="active"><a href="test">Тест</a></li>
        {{else}}
          <li><a href="test">Тест</a></li>
        {{/if}}
      </ul>
    </div>
</nav>